<div class="row">
    <p>This is the simle test/demo application for very fast reative validation and proccesing approach.</p>


    <div><span id="all-errors" class="badge alert-danger" data-toggle="popover" data-trigger="hover" data-html="true">{{validationErrors.length}}</span> <b>Form</b></div>
    
    <!--<div>Errors: <b>{{errors|json}}</b></div>-->
    <div>Validation Errors: <b>{{validationErrors|json}}</b></div>


    <div>Name: <b>{{user.name}}</b></div>
    <div>Value1: <b>{{user.value1}}</b></div>
    <div>Value2: <b>{{user.value2}}</b></div>
    <div>Total: <b>{{user.total}}</b></div>
    <div>Total number: <b>{{user.totalNumber.toString()}}</b></div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-7">
        <form class="form-horizontal" role="form">
            
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>                       
                <div class="col-sm-10">
                    <input type="text"  ng-model="user.sg_name" sg-bind  ng-model-options="{ getterSetter: true }" class="form-control" id="name" name="name" placeholder="Enter Name">
                </div>
            </div>
            
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Geek</label>                       
                <div class="col-sm-10">
                        
                    <input type="checkbox"  ng-model="user.sg_geek" sg-bind  ng-model-options="{ getterSetter: true }" id="name" name="name" placeholder="Enter Name">
                    
                </div>
            </div>
            
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">Email</label>                       
                <div class="col-sm-10">
                    <input type="text" sg-bind ng-model="user.sg_email" ng-model-options="{ getterSetter: true }" class="form-control" id="email" name="email" placeholder="Enter Email">
                </div>
            </div>
            
             <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Street</label>                       
                <div class="col-sm-10">
                    <input type="text" sg-bind ng-model="user.address.sg_street" ng-model-options="{ getterSetter: true }" class="form-control" id="street" name="street" placeholder="Enter Street">
                </div>
            </div>
            
            
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">City</label>                       
                <div class="col-sm-10">
                    <input type="text" sg-bind ng-model="user.address.sg_city" ng-model-options="{ getterSetter: true }" class="form-control" id="city" name="city" placeholder="Enter City">
                </div>
            </div>
            
            
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">Value1</label>                       
                <div class="col-sm-10">
                    <input type="text" sg-bind ng-model="user.sg_value1" ng-model-options="{ getterSetter: true }" class="form-control" id="value1" name="value1" placeholder="Enter Value1">
                </div>
            </div>
            
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">Value2</label>                       
                <div class="col-sm-10">
                    <input type="text" sg-bind ng-model="user.sg_value2" ng-model-options="{ getterSetter: true }" class="form-control" id="value2" name="value2" placeholder="Enter Value2">
                </div>
            </div>
            
            <div class="form-group">
                <label for="noteValue" class="col-sm-2 control-label">Note value</label>                       
                <div class="col-sm-10">
                    <input type="text" sg-bind ng-model="user.address.note.sg_value" ng-model-options="{ getterSetter: true }" class="form-control" id="value2" name="value2" placeholder="Enter Value2">
                </div>
            </div>
            
            
            
        </form>    
    </div>
    
    
    <!--Name: <input type="text" sg-bind ng-model="user.name"/><br/>-->
    <!--Name: <input type="text" sg-bind ng-model="user.sg_name" ng-model-options="{ getterSetter: true }" /><br/>-->
    <!--Value1: <input type="text" sg-bind ng-model="user.value1"  /><br/>-->
    <!--Value2: <input type="text" sg-bind ng-model="user.sg_value2" ng-model-options="{ getterSetter: true }" /><br/>-->
    <!--Number1: <input type="text" sg-bind ng-model="user.sg_number1" ng-model-options="{ getterSetter: true }" /><br/>-->
    <!--Number2: <input type="text" sg-bind ng-model="user.sg_number2" ng-model-options="{ getterSetter: true }" /><br/>-->
</div>

<div>User: <b>{{user|json}}</b></div>

<script>
        $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
         });
    
        $(function () {
  $('[data-toggle="popover"]').popover()
})
    </script>

    {{fireValidation()}}

<br/>
<br/>

    <!--Value1: <input type="text" sg-bind ng-model="user.sg_value1" ng-model-options="{ getterSetter: true }" /><br/>-->
